.navigation {
	font-family: "Helvetica";
}
.navigation h1 {
	margin-top: 25px;
	margin-left: 25px;
}
.navigation ul {
	padding: 0px;
	margin-top: 70px;
	margin-left: 25px;
	list-style: none;
}
.navigation li {
	padding: 0px;
	margin: 0px;
}
.navigation a {
	color: black;
	text-decoration: none;
	
}
.navigation a:hover {
	color: gray;
}
.navigation p {
	margin-left: 50px;
	font-size: 80%;
	font-weight: 300;
}
.content {
	font-family: "Helvetica";
}
#slapnikTab{
	/*Odkomentiraj spodnjo vrstico (display: block;), da bo izbran ta tab pri vstopu v stran in zakomentiraj vrstico display: none;*/
	/*display: block;*/
	display: none;
}
#enatriTab{
	display: none;
}
#ullsTab{
	display: none;
}
#onasTab{
	display: none;
}
#kontaktTab{
	display: none;
}